<div class="container">
  <div class="row">

    <h1>{{origin}}</h1>

    <!-- <div class="col-md-12">
      {{#each data}}

      <img data-lazy="{{this.url}}" alt="{{this.origin}} --  {{this.id}}" style="width:100px;" />

      {{/each}}
  </div> -->
    {{#each data}}
      <div class="col-xs-12 col-sm-6" class="image-slide-grid" style="
        background-image:url({{this.url}});
        background-size:cover;
        border: 2px solid white;
        border-radius: 12px;
        height:300px; ">
      </div>
    {{/each}}
  </div>
</div>
